
.vid-caption {
  text-shadow: 1px 1px 1px #4d4d4d;
    /* background-color: black; */
    /* opacity: 0.5 */
}

@font-face {
  font-family: avantGardepro;
  src: url(astral_hand_assets/fonts/ITCAvantGardePro-Demi.otf);
}
body
{
  font-family: avantGardepro;
  color: white;
  font-size: 115%;
  background-color: black;
  width: auto;
}
#bio
{
  color: white;
}
.footer
{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.fa, .fa:hover {
  color: white;
  font-size: 150%;
  margin: 20px;
  margin-top: 50px;
  text-decoration: none;
}
.card
{
  background-color: inherit;
  color: white;
}
btn, btn:active, btn:hover !important {
  color: white;
  text-decoration: none;
}
ul
{
  list-style-type: none;
  font-size: 90%;
}
li
{
  margin: 10px;
}
#fb-like-btn
{
  color: white;
}

a, a:active, a::after, a::before {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
#copyright
{
  font-size: 80%;
}
