.vid-caption {
  text-shadow: 1px 1px 1px #4d4d4d;
    /* background-color: black; */
    /* opacity: 0.5 */
}

@font-face {
  font-family: avantGardeGothic;
  src: url(/astral_hand_assets/fonts/texgyreadventor-bold.otf);
}
body
{
  font-family: avantGardeGothic;
  color: white;
  font-size: 115%;
  background-color: black;
  width: auto;
}
#bio
{
  color: white;
}
.footer
{
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.fa, .fa:hover {
  color: white;
  font-size: 150%;
  margin: 20px;
  margin-top: 50px;
  text-decoration: none;
}
.card
{
  background-color: inherit;
  color: white;
}
btn, btn:active, btn:hover !important {
  color: white;
  text-decoration: none;
}
ul
{
  list-style-type: none;
  font-size: 90%;
}
li
{
  margin: 10px;
}
#fb-like-btn
{
  color: white;
}

a, a:hover, a:active, a::after, a::before {
  color: white;
  text-decoration: none;
}
#copyright
{
  font-size: 80%;
}
/* delete everything below this */
@font-face {
  font-family: option1;
  src: url(/astral_hand_assets/fonts/AvantGarde-Bold.otf);
}
#opt1 {
  font-family: option1;
}

@font-face {
  font-family: option2;
  src: url(/astral_hand_assets/fonts/AvantGarde-BoldObl.otf);
}
#opt2 {
  font-family: option2;
}

@font-face {
  font-family: option3;
  src: url(/astral_hand_assets/fonts/AvantGarde-Demi.ttf);
}
#opt3 {
  font-family: option3;
}

@font-face {
  font-family: option4;
  src: url(/astral_hand_assets/fonts/ITC Avant Garde Gothic Medium.otf);
}
#opt4 {
  font-family: option4;
}

@font-face {
  font-famliy: option5;
  src: url(/astral_hand_assets/fonts/texgyreadventor-bold.otf;
}
#opt5 {
  font-family: option5;
}

@font-face {
  font-family: option6;
  src: url(/astral_hand_assets/fonts/texgyreadventor-regular.otf);
}
#opt6 {
  font-family: option6;
}
